@import "~dibs-scss-vars/_global-colors";

.refresh-clock {
  min-height: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: $dark-blue;
  color: $shaded;
  @media (max-width: 979px) {
    position:absolute;
  }
  a {
    cursor: pointer;
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

// 10 minute blink
.refresh-icon {
  padding:0 3px;
  font-size:1.1em;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $color-internal-primary;
  }
}
